:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.board {
  width: fit-content;
  margin: 40px auto;
  text-align: center;
}

h1 {
  margin-top:-30px;
  margin-bottom:20px;
}

.game {
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  gap:10px;
}

.turn {
  display: flex;
  justify-content: center;
  margin: 15px auto;
  width: fit-content;
  position: relative;
  border-radius: 10px;
}

.turn .square {
  width: 70px;
  height: 70px;
  pointer-events: none;
  border-color: transparent;
  font-size:50px;
}

.square {
  border: 3px solid #eee;
  border-radius: 8px;
  box-shadow:0 0 0 4px rgba(236, 228, 228, 0.05);
  width:140px;
  height:140px;
  display:grid;
  place-items:center;
  cursor:pointer;
  font-size:60px;
}

.square.is-selected {
  color: #fff;
  background: #09f;
}

.winner {
  position:absolute;
  display:grid;
  place-items:center;
  top:0;
  left:0;
  width:100%; 
  height:100%;
  background:rgba(0,0,0,0.5);
  backdrop-filter: blur(5px);
  font-size:30px;
}

.winner .text {
  background: #111;
  height: 300px;
  width: 320px;
  border: 2px solid #eee;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow:0 0 0 4px rgba(236, 228, 228, 0.05);
  gap: 30px;
}


.winner .square {
  width: 90px;
  height: 90px;
}

button {
  font-size:25px;
  background: transparent;
  border: 2px solid #eee;
  color: #eee;
  border-radius: 5px;
  transition: 0.2s;
  font-weight: bold;
}

button:hover {
  background: #eeeeeed0;
  color: #111;
  box-shadow:0 0 0 4px rgba(236, 228, 228, 0.05);
}

#reset {
  margin-bottom:20px;
  font-size:18px;
}